/*     _    ____ ____    ____  _         _
 *    / \  / ___/ ___|  / ___|| |_ _   _| | ___
 *   / _ \| |  _\___ \  \___ \| __| | | | |/ _ \
 *  / ___ \ |_| |___) |  ___) | |_| |_| | |  __/
 * /_/   \_\____|____/  |____/ \__|\__, |_|\___|
 *                                 |___/
 *
 * ---------------------------------------------
*/

/* ---------------------------------------------
 * Import colorscheme
 * --------------------------------------------- */
@import "mocha";

/* ---------------------------------------------
 * Import modules
 * --------------------------------------------- */
@import "bars";
@import "notifications";
@import "powermenu";
@import "media";
@import "notification-calendar";

/* ---------------------------------------------
 * General
 * --------------------------------------------- */
window.bar {
  font-size: 16px;

  color: $text;
  background-color: transparent;
}

.bar:first-child {
  margin-left: 15px;
}

.bar:last-child {
  margin-right: 15px;
}

label {
  font-weight: bold;
}
