/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import colors 
 * ----------------------------------------------------- */
@import "mocha.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  margin: 0 10px;
  padding: 0;

  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;

  border-radius: 30px;
}

window#waybar {
  color: @text;
  
  opacity: .8;
  
  background: transparent;
  
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  padding: 20px;
  
  background-color: @base;
  
  opacity: 0.8;
  
  border-radius: 10px;
}

tooltip label {
  color: @text;
}

/*  _          __ _
 * | |    ___ / _| |_
 * | |   / _ \ |_| __|
 * | |__|  __/  _| |_
 * |_____\___|_|  \__|
*/

/* -----------------------------------------------------
 * Appmenu
 * ----------------------------------------------------- */

#custom-appmenu {
  padding: 0px 10px;

  color: @blue;
  background-color: @base;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  padding: 0px 10px;

  background-color: @base;
}

window#waybar.empty #window {
  background-color: transparent;
}

/*  ____           _
 * / ___|___ _ __ | |_ ___ _ __
 * | |   / _ \ '_ \| __/ _ \ '__|
 * | |__|  __/ | | | ||  __/ |
 * \____\___|_| |_|\__\___|_|
*/

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  font-weight: bold;
  
  background-color: @crust;
}

#workspaces button {
  margin: 5px;
  
  background-color: @base;
  
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  min-width: 40px;
  
  color: @blue;
  background-color: @base;
  
  opacity: 1;
  
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @blue;
  background-color: @base;
  
  opacity: 0.7;
}

/*  ____  _       _     _
 * |  _ \(_) __ _| |__ | |_
 * | |_) | |/ _` | '_ \| __|
 * |  _ <| | (_| | | | | |_
 * |_| \_\_|\__, |_| |_|\__|
 *          |___/
*/

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  padding: 0px 10px;

  color: @red;
  background-color: @base;
}

#custom-updates.green {
  color: @text;
  background-color: @green;
}

#custom-updates.yellow {
  color: @text;
  background-color: @yellow;
}

#custom-updates.red {
  color: @text;
  background-color: @red;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  padding: 0px 10px;

  color: @peach;
  background-color: @base;
}

#pulseaudio.muted {
  color: @red;
}

#pulseaudio-slider {
  color: @peach;
}

#pulseaudio-slider slider {
  opacity: 0;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  
  background-color: @crust;
  
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  
  background-color: @peach;
  
  border-radius: 5px;
}


/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  padding: 0px 10px;

  color: @yellow;
  background-color: @base;
}

#network.ethernet {
  color: @yellow;
}

#network.wifi {
  color: @yellow;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  font-size: 16px;
  
  color: @green;
}

/* -----------------------------------------------------
 * Custom system
 * ----------------------------------------------------- */

#custom-system {
  font-size: 20px;
  font-weight: bold;
  
  color: @green;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#glock {
  padding: 0px 10px;

  color: @lavender;
  background-color: @base;
}

#custom-notification {
  margin-left: 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  font-size: 20px;
  
  color: @text;
}
