/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import colors 
 * ----------------------------------------------------- */
@import "mocha.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  margin: 0 10px;
  padding: 0 10px;

  border-radius: 50px;
}

window#waybar {
  margin: 0px;
  padding: 0px;

  font-family: "FiraSans Semibold", "JetBrainsMono Nerd Font Propo";
  font-size: 16px;

  color: @text;

  background: transparent;
}

window#waybar > box .modules-left, .modules-center, .modules-right {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  padding: 20px;
  
  background-color: @base;
  
  opacity: 0.8;
  
  border-radius: 10px;
}

tooltip label {
  color: @text;
}

/*  _          __ _
 * | |    ___ / _| |_
 * | |   / _ \ |_| __|
 * | |__|  __/  _| |_
 * |_____\___|_|  \__|
*/

/* -----------------------------------------------------
 * Appmenu
 * ----------------------------------------------------- */

#custom-appmenu {
  color: @blue;
  background-color: @base;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background-color: @base;
}

/*  ____           _
 * / ___|___ _ __ | |_ ___ _ __
 * | |   / _ \ '_ \| __/ _ \ '__|
 * | |__|  __/ | | | ||  __/ |
 * \____\___|_| |_|\__\___|_|
*/

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  padding: 0;
    
  font-weight: bold;

  background-color: @crust;
}

#workspaces button {
  margin: 5px;
  padding: 0;

  background-color: @base;

  transition: all 0.3s ease-in-out;
}

#workspaces box {
  margin: 0;
  padding: 0;
}

#workspaces label {
  margin: 0;
  padding: 0 10px;
}

#workspaces button.active {
  min-width: 50px;

  color: @blue;
  background-color: @base;
}

#workspaces button:hover {
  color: @blue;
  background-color: @base;
}

/*  ____  _       _     _
 * |  _ \(_) __ _| |__ | |_
 * | |_) | |/ _` | '_ \| __|
 * |  _ <| | (_| | | | | |_
 * |_| \_\_|\__, |_| |_|\__|
 *          |___/
*/

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray image {
  margin: 0;
}

#tray menu {
  margin: 0;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  color: @red;
  background-color: @base;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  color: @peach;
  background-color: @base;
}
#pulseaudio.muted {
  color: @red;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  color: @yellow;
  background-color: @base;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#glock {
  padding: 0;

  color: @lavender;
  background-color: @base;
}
