@import "shared/colors.rasi"
@import "shared/fonts.rasi"

configuration {
  display-drun: "Applications";
  show-icons: true;

  modes: [drun, calc];
}

window {
  transparency:     "real";
  location:         center;
  anchor:           center;
  width:            35%;

  border:           none;
  border-radius:    20px;

  background-color: @background;
}

mainbox {
  enabled:  true;

  padding:  10px;

  children: [ "inputbar", "message", "listview" ];
}

inputbar {
  padding:        20px;

  text-color:     @text;

  border:         2px;
  border-radius:  10px;
  border-color:   @selected;

  children:       [ "prompt", "textbox-prompt-colon", "entry" ];
}

prompt {
  text-color: @text;
}

textbox-prompt-colon {
  expand:     false;

  str:    " ";

  text-color: @text;
}

entry {
  margin:            0 0 0 10px;

  placeholder:        "Search";

  text-color:         @text;
  placeholder-color:  @placeholder;
}

message {
  enabled:          true;

  padding:          10px;
  
  text-color:       @selected;
  calc-error-color: @error;

  border:           none;
}

listview {
  columns:    2;
  lines:      7;

  scrollbar:  false;

  border:     none;

  text-color: @text;
}

element {
  padding:        20px;

  border-radius:  10px;
}

element normal.normal, element alternate.normal {
  text-color:       @text;
  background-color: @background;
}

element selected.normal {
  text-color:       @background;
  background-color: @selected;
}

element-icon {
  size: 35px;
}

element-text {
  vertical-align: 0.5;
}
