/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
  background:     #111318;
  background-alt: #3e4758;
  foreground:     #ffffff;
  selected:       #a9c7ff;
  active:         #ABE9B3FF;
  urgent:         #F28FADFF;
}
