/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
  background:     #111418;
  background-alt: #3c4858;
  foreground:     #ffffff;
  selected:       #a1c9fd;
  active:         #ABE9B3FF;
  urgent:         #F28FADFF;
}
