/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
  background:     #101417;
  background-alt: #384956;
  foreground:     #ffffff;
  selected:       #95cdf7;
  active:         #ABE9B3FF;
  urgent:         #F28FADFF;
}
