* {
  font-family: "Fira Sans Semibold";
}

window {
  background-color: rgba(30, 30, 46, .5);
}

button {
  font-size: 20px;

  color: #cdd6f4;
  background-color: rgb(30, 30, 46);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border: 0 solid #000;
}

button:focus,
button:active,
button:hover {
  color: rgb(30, 30, 46);
  background-color: #89b4fa;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  border-radius: 100px 0 0 0;
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
  border-radius: 0 0 0 100px;
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
  border-radius: 0 100px 0 0;
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  border-radius: 0 0 100px 0;
}
