.notification-calendar {
  padding: 10px;

  color: $text;
  background-color: $base;

  border-radius: 20px;
}

.separator {
  margin: 10px;
}

.notification-section {
  min-width: 400px;

  padding: 10px;
}

.notification-header {
  font-size: 16px;

  button {
    color: $text;
    background-color: $surface0;

    border-radius: 20px;

    image {
      margin-left: 5px;
    }
  }
}

.calendar-section {
  padding: 10px;
}

.calendar-clock {
  font-size: 70px;
}

.calendar-uptime {
  font-size: 14px;
}
