.notification-calendar {
  padding: 10px;

  color: $text;
  background-color: $base;

  border-radius: 20px;
}

.separator {
  margin: 10px;
}

.notification-section {
  min-width: 400px;

  padding: 10px;
}

.notification-header {
  font-size: 16px;

  button {
    color: $text;
    background-color: $surface0;

    border-radius: 20px;

    image {
      margin-left: 5px;
    }
  }
}

.calendar-section {
  padding: 10px;
}

.calendar-clock {
  font-size: 70px;
}

.calendar-uptime {
  margin-bottom: 20px;

  font-size: 14px;
}

calendar {
  padding: 5px;

  font-size: 16px;

  color: $text;
  background-color: $surface0;

  border: none;
  border-radius: 10px;

  &.button {
    color: $blue;
  }

  &:selected {
    box-shadow: inset 0 0 0 2px $lavender;

    border-radius: 20px;
  }

  &.header {
    color: $lavender;
  }

  &.highlight {
    color: $blue;
  }

  &:indeterminate {
    color: $surface2;
  }
}
