/*  ____                          __  __
 * |  _ \ _____      _____ _ __  |  \/  | ___ _ __  _   _
 * | |_) / _ \ \ /\ / / _ \ '__| | |\/| |/ _ \ '_ \| | | |
 * |  __/ (_) \ V  V /  __/ |    | |  | |  __/ | | | |_| |
 * |_|   \___/ \_/\_/ \___|_|    |_|  |_|\___|_| |_|\__,_|
 *
 * -------------------------------------------------------
*/

.powermenu {
  background-color: $base;

  border-radius: 25px;
}

.powermenu-box {
  padding: 10px;
}

.greet {
  font-size: 20px;

  color: $text;
}

.powerbuttons {
  margin-bottom: 10px;
  
  button {
    margin: 0;
    margin-left: 10px;
    padding: 10px;

    font-size: 28px;

    color: $text;
    background-color: $surface0;

    border-radius: 40px;
  }
}

/* -------------------------------------------------------
 * Sliders
 * ------------------------------------------------------- */
.sliders {
  margin-bottom: 10px;

  background-color: $surface0;

  border-radius: 15px;

  .volume {
    margin: 5px 10px;

    font-size: 20px;

    color: $text;
    background-color: $surface0;

    scale {
      min-width: 100px;

      margin: 0 10px;
      padding: 0;

      slider {
        all: unset;
      }

      trough {
        background-color: $crust;

        border-radius: 5px;
      }

      highlight {
        min-height: 10px;

        background-image: linear-gradient(to right, $blue, $lavender);

        border-radius: 5px;
      }
    }

    button {
      background-color: transparent;

      border-radius: 30px;
    }
  }
}

/* -------------------------------------------------------
 * Buttons
 * ------------------------------------------------------- */
.buttons {
  margin-bottom: 10px;
}

.buttons > box > box {
  padding: 10px;

  font-size: 16px;

  color: $text;
  background-color: $surface0;

  border-radius: 15px;
}

.buttons > box > box:first-child {
  margin-right: 10px;
}

.buttons > box > box:last-child {
  margin-left: 10px;
}

.buttons label {
  margin-left: 15px;
}

/* -------------------------------------------------------
 * Network button
 * ------------------------------------------------------- */
.buttons .network {
  padding: 10px;

  font-size: 16px;

  color: $text;
  background-color: $surface0;

  border-radius: 15px;
}

.buttons .connected {
  color: $base;
  background-image: linear-gradient(to right, $blue, $lavender);
}

/* -------------------------------------------------------
 * Network button
 * ------------------------------------------------------- */
.buttons .unmuted {
  color: $base;
  background-image: linear-gradient(to right, $blue, $lavender);
}

/* -------------------------------------------------------
 * Popups
 * ------------------------------------------------------- */
.power-popup {
  font-size: 20px;

  color: $text;
  background-color: $base;

  border-radius: 15px;
}

.power-popup-box {
  padding: 20px;
}

.power-popup-box > label {
  padding-bottom: 20px;
}

.power-popup-box button {
  color: $text;
  background-color: $surface0;

  border-radius: 10px;
}

.power-popup-box button:first-child {
  margin-right: 10px;
}
.power-popup-box button:last-child {
  margin-left: 10px;
}

/* -------------------------------------------------------
 * Media
 * ------------------------------------------------------- */
.power-player {
  min-width: 350px;

  padding: 10px;

  background-color: $surface0;

  border-radius: 15px;
}

.power-player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.power-player .title {
  font-size: 1.2em;
}

.power-player .artist {
  font-size: 1.1em;
  color: $text;
}

.power-player scale.position {
  padding: 0;
  margin-bottom: 0.3em;
}

.power-player scale.position trough {
  min-height: 8px;

  border-radius: 5px;
}

.power-player scale.position highlight {
  background-color: $text;
  border-radius: 5px;
}

.power-player scale.position slider {
  all: unset;
}

.power-player button {
  min-height: 1em;
  min-width: 1em;

  padding: 0.3em;

  border-radius: 20px;
}

.power-player button.play-pause {
  margin: 0 0.3em;
}
