/*  _   _       _   _  __ _           _   _
 * | \ | | ___ | |_(_)/ _(_) ___ __ _| |_(_) ___  _ __  ___
 * |  \| |/ _ \| __| | |_| |/ __/ _` | __| |/ _ \| '_ \/ __|
 * | |\  | (_) | |_| |  _| | (_| (_| | |_| | (_) | | | \__ \
 * |_| \_|\___/ \__|_|_| |_|\___\__,_|\__|_|\___/|_| |_|___/
 *
 * ---------------------------------------------------------
*/
window#notifications {
  all: unset;
  box.notifications {
    padding: 0.5em;
  }
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
  image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: $text;
  }

  box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
  }
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid $blue;
  background-color: $base;
  .critical {
    border: 1px solid lightcoral;
  }
}

.title {
  color: $text;
  font-size: 1.4em;
}

.body {
  color: $base;
}

.actions {
  .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em;
  }

  .action-button:first-child {
    margin-left: 0;
  }

  .action-button:last-child {
    margin-right: 0;
  }
}
